:root {
    --main-text-color: rgb(60, 60, 60);
    --cell-dark: rgb(238, 238, 238);
    --cell-light: rgb(255, 255, 242);
}

body {
    min-height: 110vh;
    margin: 0px;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    min-height: 8vh;
    background-color: brown;

    display: flex;
    align-items: center;
}
header a {
    color: white;
    margin: 0 0.5rem;
    font-size: 1.2rem;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}

footer {
    background-color: brown;
    min-height: 6vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer div {
    color: white;
    text-align: center;
    margin: .5rem 0;
}

main {
    min-height: 100vh;
    font-size: 1.1rem;
    flex-grow: 1;
    color: var(--main-text-color);
}

.main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


table {
    margin-top: 1rem;
}
tr:nth-child(even) {
    background-color: var(--cell-light);
}
tr:nth-child(odd) {
    background-color: var(--cell-dark);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

form input {
    margin-bottom: 1rem;
}

form button {
    min-width: 8rem;
    min-height: 4rem;
    flex-grow: 2.5;

    padding: 0;
    background-color: brown; 
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 180%;
    border: 0;
}

form button:hover {
    background-color: darkred;
}

.listen_button {
    min-width: 8rem;
    min-height: 4rem;

    background-color: gold;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 200%;
    color: var(--main-text-color);
    border: 0;
}
.listen_button:hover {
    background-color: rgb(175, 149, 0);
}
#interval_button {
    margin: 0.5rem 0;
}

/* Scale specific */
#scale_main div, form {
    padding: .5rem 0;
}

/* Page interval specific */
#pitch_interval_main > div {
    margin: .25rem 0;
}
#pitch_interval_example_h2 {
    margin-bottom: 0.5rem;
}
#interval_choice_grid {
    display: grid;
    min-width: 40%;
    grid-template-columns: 1fr 1fr 1fr;
    border: .125rem solid rgb(129, 129, 129)
}
#interval_choice_grid div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 2rem;
}
#interval_choice_grid div:nth-child(odd) {
    background-color: var(--cell-dark);
}

#interval_choice_grid div:nth-child(even) {
    background-color: var(--cell-light);
}