body {
    min-height: 110vh;
    margin: 0px;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    min-height: 8vh;
    background-color: brown;

    display: flex;
    align-items: center;
}
header a {
    color: white;
    margin: 0 0.5rem;
    font-size: 1.2rem;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}

footer {
    background-color: brown;
    min-height: 6vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    /* align-self: end; */
}
footer div {
    color: white;
    text-align: center;
    margin: .5rem 0;
}

main {
    min-height: 100vh;
    font-size: 1.1rem;
    flex-grow: 1;
    color: rgb(48, 48, 48);
}

.main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#scale_main div, form {
    padding: .5rem 0;
}

table {
    margin-top: 1rem;
}
tr:nth-child(even) {
    background-color: rgb(255, 255, 242);
}
tr:nth-child(odd) {
    background-color:rgb(238, 238, 238);
}
