{% extends "layout.html" %}
{% block main %}
    <section class="main-content">
        <h1>About this Site</h1>
        <p>
            This is a web page I built to help you practice your basic music theory skills. These skills range from scales, chords, key signatures, note listening, and note interval identification.
        </p>
        <p>
            This website was made using the Python Flask back end frameowrk along with basic HTML and raw CSS. Music rendering is powered by the open-source Verovio library.
        </p>
        <section id="contact-info">
            <h2>Contact Information</h2>
            <ul>
                <li>
                    <span>Github Repo: </span>
                    <a href="https://github.com/danchurlian/Music-Practice-Site">github.com/danchurlian/Music-Practice-Site</a>
                </li>
                <li>
                    <span>Email: </span>
                    <a href="mailto:chudaniel400@gmail.com">chudaniel400@gmail.com</a>
                </li>
            </ul>
        </section>
    </section>
{% endblock %}
