{% extends "layout.html" %}
{% block main %}
    <section class="main-content">
        <h1>Chord Identification Practice </h1>
        <div class="answer-result" id="chord-answer-result" >{{ feedback }}</div>

        <form>
            <label for="chord-answer">What is the name of this chord?</label>
            <input id="chord-input" name="chord-answer" autocomplete="off" autofocus="true" />
            <button id="chord-submit" type="submit">Submit</button>
        </form>

        <section id="chord-svg-section" class="music-svg-section" style="width:23vw">
            {{ music_svg | safe }}
        </section>

        <h2 class="answer-choice-heading">Example Answers: </h2>
        <answer-choice-grid id="chord-choice-grid">
            <div>C major</div>
            <div>Bb minor</div>
            <div>C augmented</div>
            <div>A# diminished</div>
            <div>A# diminished 7th</div>
            <div>B half-diminished 7th</div>
            <div>C major 7th</div>
            <div>C dominant 7th</div>
            <div>C minor 7th</div>
        </answer-choice-grid>
    </section>
    <script src="{{ url_for('static', filename='/js/chord-page.js') }}"></script>
{% endblock %}