{% extends "layout.html" %}
{% block main %}
    <section class="main_content">
        <h1>Chord Identification Practice </h1>
        <form method="post">
            <label for="chord_answer">What is the name of this chord?</label>
            <input name="chord_answer" autocomplete="off" autofocus="true" />
            <button type="submit">Submit</button>
        </form>
        <div>{{ feedback }}</div>
        <table>
            <tr><th>Examples</th></tr>
            <tr><td>C major</td></tr>
            <tr><td>Bb minor</td></tr>
            <tr><td>C augmented</td></tr>
            <tr><td>A# diminished</td></tr>
            <tr><td>A# diminished 7th</td></tr>
            <tr><td>B half-diminished 7th</td></tr>
            <tr><td>C major 7th</td></tr>
            <tr><td>C dominant 7th</td></tr>
            <tr><td>C minor 7th</td></tr>
        </table>
        <section style="width:40%">
            {{ music_svg | safe }}
        </section>
    </section>
{% endblock %}