{% extends "layout.html" %}
{% block main %}
    <section class="main_content">
        <h1>Chord Identification Practice </h1>
        <form method="post">
            <label for="chord_answer">What is the name of this chord?</label>
            <input name="chord_answer" autocomplete="off" autofocus="true" />
            <button type="submit">Submit</button>
        </form>
        <div>{{ feedback }}</div>

        <section style="width:30%">
            {{ music_svg | safe }}
        </section>

        <h2 class="answer-choice-heading">Example Answers: </h2>
        <answer-choice-grid id="chord-choice-grid">
            <div>C major</div>
            <div>Bb minor</div>
            <div>C augmented</div>
            <div>A# diminished</div>
            <div>A# diminished 7th</div>
            <div>B half-diminished 7th</div>
            <div>C major 7th</div>
            <div>C dominant 7th</div>
            <div>C minor 7th</div>
        </answer-choice-grid>
    </section>
{% endblock %}