{% extends "layout.html" %}

{% block main %}
<section class="main-content" id="pitch-interval-main">
    <h1>Pitch Interval Practice</h1>
    <div>{{ feedback }}</div>
    <button class="listen-button" id="interval-button">Listen</button>
    <form method="post">
        <label for="user-interval-answer">
            What is the interval between the notes?
        </label>
        <input name="user-interval-answer" autocomplete="off" autofocus="true" required="true"></input>
        <button type="submit">Submit</button>
    </form>
    <h2 class="answer-choice-heading">Example Answers: </h2>
    <answer-choice-grid id="interval-choice-grid">
        <div>perfect unison</div>
        <div>minor 2nd</div>
        <div>major 2nd</div>
        <div>minor 3rd</div>
        <div>major 3rd</div>
        <div>perfect 4th</div>
        <div>tritone</div>
        <div>perfect 5th</div>
        <div>minor 6th</div>
        <div>major 6th</div>
        <div>minor 7th</div>
        <div>major 7th</div>
        <div>perfect octave</div>
    </answer-choice-grid>
</section>
<script type="module"
    src="{{ url_for('static', filename='js/pitch-interval-page.js') }}" >
</script>
{% endblock %}