{% extends "layout.html" %}

{% block main %}
<section class="main-content">
    <h1>Pitch Identification Practice</h1>

    <div>{{ feedback }} </div>
    <figure class="pitch-audio-figure">
        <figcaption>Reference Note: C</figcaption>
        <button class="listen-button" id="reference-button">Listen</button>
    </figure>
    <figure class="pitch-audio-figure">
        <figcaption>What is this pitch?</figcaption>
        <button class="listen-button" id="random-pitch-button">Listen</button>
    </figure>
    <form method="POST">
        <label for="user_answer">Note name: </label>
        <input name="user_answer" autocomplete="off" autofocus="true" required="true" />
        <button type="submit">Submit</button>
    </form>
    <script type="module">
        const randomPitchCode = Number("{{ random_code }}")
        
        import {playAudio} from "../static/js/audio-handler.js"
        let refButton = document.getElementById("reference-button");
        let randomButton = document.getElementById("random-pitch-button");

        refButton.addEventListener("mouseup", () => {
            playAudio(1);
        })
        randomButton.addEventListener("mouseup", () => {
            playAudio(randomPitchCode);
        })
    </script>
</section>
{% endblock %}