{% extends "layout.html" %}

{% block main %}
<section class="main-content" id="pitch-audio-page" >
    <h1>Pitch Identification Practice</h1>
    <div class="answer-result" id="scale-answer-result">
    </div>

    <figure class="pitch-audio-figure">
        <figcaption>Reference Note: C</figcaption>
        <button class="listen-button" id="reference-button">Listen</button>
    </figure>
    <figure class="pitch-audio-figure">
        <figcaption>What is this pitch?</figcaption>
        <button class="listen-button" id="random-pitch-button">Listen</button>
    </figure>
    <form method="POST">
        <label for="random-pitch-answer">Note name: </label>
        <input name="random-pitch-answer" autocomplete="off" autofocus="true" required="true" />
        <button type="submit">Submit</button>
    </form>
    <script 
        type="module" 
        src="{{ url_for('static', filename='/js/pitch-audio-page.js')}}">
    </script>
</section>
{% endblock %}