{% extends "layout.html" %}
{% block main %}
    <section class="main-content" id="scale-page">
        <h1>Scale Identification Practice</h1>
        <div class="answer-result" id="scale-answer-result">
        </div>

        <!-- <div>Example: "G# minor", "Ab major", "A# locrian", "D natural minor", "D harmonic minor"</div> -->
        <form>
            <label for="scale-user-answer">What is the scale below?</label>
            <input name="scale-user-answer" id="scale-user-answer"
            autofocus="true" autocomplete="off" required="true">
            <button id="scale-submit" type="submit">Submit</button>
        </form>
        
        <section id="scale-svg-section" class="music-svg-section" style="width:40vw">
        </section>

        <h2 class="answer-choice-heading">Example Answers: </h2>
        <answer-choice-grid id="scale-choice-grid">
            <div>C major</div>
            <div>G# melodic minor</div>
            <div>D natural minor</div>
            <div>Ab harmonic minor</div>
            <div>Bb dorian</div>
            <div>G phrygian</div>
            <div>B lydian</div>
            <div>C mixolydian</div>
            <div>A# locrian</div>
        </answer-choice-grid>
    </section>
    <script src="{{ url_for('static', filename='/js/single-staff-page.js') }}"></script>
{% endblock %}